#!/bin/bash

# chrome-unstable-gpu.desktop  hash: {{ include "private_dot_local/private_share/private_applications/chrome-unstable-gpu.desktop" | sha256sum }}

{{- if lookPath "update-desktop-database" }}
update-desktop-database --verbose "${XDG_DATA_HOME:-$HOME/.local/share}/applications"
{{- else }}
echo "$0: WARN: update-desktop-database not found on PATH - $PATH"
{{- end }}
