#!/bin/bash

## themes
# Dark-Dracula-Theme sha: {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config" "bat" "themes" "Dark-Dracula-Theme") "rev-parse" "HEAD" }}
# Matcha-Dark sha: {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config" "bat" "themes" "Matcha-Dark") "rev-parse" "HEAD" }}
# sublime-snazzy sha: {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config" "bat" "themes" "sublime-snazzy") "rev-parse" "HEAD" }}
## syntaxes
# ASL-Syntax-Highlight sha: {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config" "bat" "syntaxes" "ASL-Syntax-Highlight") "rev-parse" "HEAD" }}
# Nftables sha: {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config" "bat" "syntaxes" "Nftables") "rev-parse" "HEAD" }}

bat cache --build
