file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Dropbox Dropbox
file://{{ .chezmoi.homeDir }}/src/pub ~/src/pub
file:///mnt/terabyte terabyte
file:///mnt mnt
file:///run/media/{{ .chezmoi.username }} /run/media/{{ .chezmoi.username }}
