# vim: ft=dosini
# Chawan / cha TUI Web Browser Config
{{ $copy_cmd := "" -}}
{{ $paste_cmd := "" -}}
{{ if (eq .chezmoi.os "linux") | and ((lookPath "wayland-scanner") | or (eq .xdg_session_type "wayland")) -}}
{{   $copy_cmd = "wl-copy" -}}
{{   $paste_cmd = "wl-paste" -}}
{{ else if (eq .chezmoi.os "linux") -}}
{{   if lookPath "xclip" -}}
{{   $copy_cmd = "xclip -selection clipboard -in" -}}
{{   $paste_cmd = "xclip -selection clipboard -o" -}}
{{   else if lookPath "xsel" -}}
{{   $copy_cmd = "xsel -bi" -}}
{{   $paste_cmd = "xsel -bo" -}}
{{   end -}}
{{ else if (eq .chezmoi.os "darwin") -}}
{{   $copy_cmd = "pbcopy" -}}
{{   $paste_cmd = "pbpaste" -}}
{{ else if (eq .chezmoi.os "windows") -}}
{{   $copy_cmd = "perl -pe 'chomp if eof' | clip.exe" -}}
{{   $paste_cmd = "powershell.exe Get-Clipboard | sed 's/\r$//'" -}}
{{ else -}}
{{   $copy_cmd = "xclip -selection clipboard -in" -}}
{{   $paste_cmd = "xclip -selection clipboard -o" -}}
{{ end -}}

[start]
visual-home = "about:chawan"
startup-script = ""
headless = false
console-buffer = true

[buffer]
styling = true
images = true
scripting = true
referer-from = false
cookie = false
meta-refresh = "ask"
history = true
mark-links = false
user-style = ""

[search]
wrap = true
ignore-case = "auto"

[encoding]
document-charset = ["utf-8", "sjis", "euc-jp", "latin2"]
display-charset = "auto"

[external]
mailcap = [
	"~/.mailcap",
	"/etc/mailcap",
	"/usr/etc/mailcap",
	"/usr/local/etc/mailcap"
]
auto-mailcap = "auto.mailcap"
mime-types = [
	"~/.mime.types",
	"/etc/mime.types",
	"/usr/etc/mime.types",
	"/usr/local/etc/mime.types"
]
urimethodmap = [
	"~/.urimethodmap",
	"~/.w3m/urimethodmap",
	"/etc/urimethodmap",
	"/usr/local/etc/w3m/urimethodmap"
]
bookmark = "$CHA_DATA_DIR/bookmark.md"
history-file = "$CHA_DATA_DIR/history.uri"
history-size = 100
cookie-file = "$CHA_DATA_DIR/cookies.txt"
tmpdir = "${TMPDIR:-/tmp}/cha-tmp-$LOGNAME"
editor = "${VISUAL:-${EDITOR:-vi}}"
cgi-dir = ["cgi-bin", "$CHA_LIBEXEC_DIR/cgi-bin"]
download-dir = "${TMPDIR:-/tmp}/"
show-download-panel = true
w3m-cgi-compat = false
copy-cmd = '{{ $copy_cmd }}'
paste-cmd = '{{ $paste_cmd }}'

[network]
max-redirect = 10
max-net-connections = 12
prepend-scheme = "https://"
default-headers = {
	User-Agent = "chawan",
	Accept = "text/html, text/*;q=0.5, */*;q=0.4",
	Accept-Encoding = "gzip, deflate, br",
	Accept-Language = "en;q=1.0",
	Pragma = "no-cache",
	Cache-Control = "no-cache"
}
allow-http-from-file = false

[input]
vi-numeric-prefix = true
#use-mouse = 'auto'
#osc52-copy = 'auto'
#osc52-primary = 'auto'
#bracketed-paste = 'auto'
wheel-scroll = 5
side-wheel-scroll = 5
link-hint-chars = 'abcdefghijklmnoprstuvxyz'

[status]
show-cursor-position = true
show-hover-link = true
#format-mode = ["reverse"]

[display]
color-mode = "auto"
format-mode = "auto"
no-format-mode = "overline"
image-mode = "auto"
sixel-colors = "auto"
alt-screen = "auto"
highlight-color = "-cha-ansi(bright-cyan)"
highlight-marks = true
double-width-ambiguous = false
minimum-contrast = 100
force-clear = false
set-title = "auto"
default-background-color = "-cha-ansi(black)"
default-foreground-color = "-cha-ansi(white)"
columns = 80
lines = 24
pixels-per-column = 9
pixels-per-line = 18
force-columns = false
force-lines = false
force-pixels-per-column = false
force-pixels-per-line = false

[omnirule.ddg]
match = '^ddg:'
substitute-url = 'x => "https://lite.duckduckgo.com/lite/?kp=-1&kd=-1&q=" + encodeURIComponent(x.split(":").slice(1).join(":"))'

[omnirule.br]
match = '^br:'
substitute-url = 'x => "https://search.brave.com/search?q=" + encodeURIComponent(x.split(":").slice(1).join(":"))'

[omnirule.wk]
match = '^wk:'
substitute-url = '''
x => "https://en.wikipedia.org/wiki/Special:Search?search=" +
	encodeURIComponent(x.split(":").slice(1).join(":"))
'''

[omnirule.wd]
match = '^wd:'
substitute-url = '''
x => "https://en.wiktionary.org/w/index.php?title=Special:Search&search=" +
	encodeURIComponent(x.split(":").slice(1).join(":"))
'''

[omnirule.mo]
match = '^mo:'
substitute-url = '''
x => "https://mojeek.com/search?q=" +
	encodeURIComponent(x.split(":").slice(1).join(":"));
'''

[siteconf.ddg]
url = 'https?://((html|lite|www).)?duckduckgo.com/.*'
# on current master, stylesheet is deprecated in favor of user-style
#user-style = '* { background: -cha-ansi(default) !important }'
user-style = '*, *::before, *::after { color: revert !important; background-color: revert !important }'

[siteconf.google]
url = 'https?://(www.)?google.com/.*'
# Google now requires javascript or reCAPTCHA inside iframe support... try lynx?
default-headers = {
    User-Agent = "Lynx/2.8.6rel.5 libwww-FM/2.14",
    Accept = "*/*",
    Accept-Encoding = "gzip, deflate",
    Accept-Language = "en;q=1.0",
    Pragma = "no-cache",
    Cache-Control = "no-cache"
}
meta-refresh = "never"
#user-style = '* { background: -cha-ansi(default) !important }'
user-style = '*, *::before, *::after { color: revert !important; background-color: revert !important }'
scripting = false

[siteconf.downloads]
url = 'about:downloads'
meta-refresh = "always"

[page]
# pager commands, but define them before y so that they actually work.
yu = 'copyCursorLink'
yI = 'copyCursorImage'

# buffer commands
h = 'cursorLeft'
j = 'cursorDown'
k = 'cursorUp'
l = 'cursorRight'
'M-[D' = 'cursorLeft'
'M-[B' = 'cursorDown'
'M-[A' = 'cursorUp'
'M-[C' = 'cursorRight'
C-n = 'cursorDown'
C-p = 'cursorUp'
'0' = 'cursorLineBegin'
'M-[H' = 'cursorLineBegin'
'^' = 'cursorLineTextStart'
'$' = 'cursorLineEnd'
'M-[F' = 'cursorLineEnd'
b = 'cursorViWordBegin'
e = 'cursorViWordEnd'
w = 'cursorNextViWord'
B = 'cursorBigWordBegin'
E = 'cursorBigWordEnd'
W = 'cursorNextBigWord'
'[' = 'cursorPrevLink'
']' = 'cursorNextLink'
'{' = 'cursorPrevParagraph'
'}' = 'cursorNextParagraph'
H = 'cursorTop'
M = 'cursorMiddle'
L = 'cursorBottom'
g0 = 'cursorLeftEdge'
gc = 'cursorMiddleColumn'
'g$' = 'cursorRightEdge'
C-d = 'halfPageDown'
C-u = 'halfPageUp'
C-f = 'pageDown'
C-b = 'pageUp'
'M-[6~' = 'pageDown'
'M-[5~' = 'pageUp'
'zH'= 'pageLeft'
'zL' = 'pageRight'
'<' = 'pageLeft'
'>' = 'pageRight'
C-e = 'scrollDown'
C-y = 'scrollUp'
J = 'scrollDown'
K = 'scrollUp'
sE = 'sourceEdit'
sC-m = 'saveLink'
sC-j = 'saveLink'
sS = 'saveSource'
m = 'mark'
'`' = 'gotoMark'
"'" = 'gotoMarkY'
'zh'= 'scrollLeft'
'zl' = 'scrollRight'
'-'= 'scrollLeft'
'+' = 'scrollRight'
C-m = 'click'
C-j = 'click'
c = 'rightClick'
C = 'toggleMenu'
I = 'viewImage'
sI = 'saveImage'
M-i = 'toggleImages'
M-j = 'toggleScripting'
M-k = 'toggleCookie'
':' = 'markURL'
r = 'redraw'
R = 'reshape'
C-c = 'cancel'
gg = 'gotoLineOrStart'
G = 'gotoLineOrEnd'
'|' = 'gotoColumnOrBegin'
'z.' = 'centerLineBegin'
'zC-m' = 'raisePageBegin'
'zC-j' = 'raisePageBegin'
'z-' = 'lowerPageBegin'
zz = 'centerLine'
'zt' = 'raisePage'
'zb' = 'lowerPage'
'z+' = 'nextPageBegin'
'z^' = 'previousPageBegin'
y = 'copySelection'
v = 'cursorToggleSelection'
V = 'cursorToggleSelectionLine'
C-v = 'cursorToggleSelectionBlock'

# pager commands
q = 'quit'
C-z = 'suspend'
C-l = 'load'
M-l = 'loadCursor'
C-k = 'webSearch'
M-a = 'addBookmark'
M-b = 'openBookmarks'
C-h = 'openHistory'
M-u = 'dupeBuffer'
U = 'reloadBuffer'
C-g = 'lineInfo'
'\' = 'toggleSource'
D = 'discardBuffer'
'd,' = 'discardBufferPrev'
'd.' = 'discardBufferNext'
M-d = 'discardTree'
',' = 'prevBuffer'
'M-,' = 'prevSiblingBuffer'
'.' = 'nextBuffer'
'M-.' = 'nextSiblingBuffer'
'M-/' = 'parentBuffer'
M-c = 'enterCommand'
'/' = 'isearchForward'
'?' = 'isearchBackward'
n = 'searchNext'
N = 'searchPrev'
u = 'peekCursor'
su = 'showFullAlert'
C-w = 'toggleWrap'
M-y = 'copyURL'
M-p = 'gotoClipboardURL'
f = 'toggleLinkHints'

# pager commands - w3m-esque bindings
# Reference: https://todo.sr.ht/~bptato/chawan/30
# Tab
C-i = 'cursorNextLink'
# Shift + Tab
'M-[Z' = 'cursorPrevLink'


[line]
C-m = 'line.submit'
C-j = 'line.submit'
C-h = 'line.backspace'
'C-?' = 'line.backspace'
C-d = 'line.delete'
C-c = 'line.cancel'
C-g = 'line.cancel'
M-b = 'line.prevWord'
M-f = 'line.nextWord'
C-b = 'line.backward'
C-f = 'line.forward'
C-u = 'line.clear'
'C-xC-?' = 'line.clear'
C-xC-e = 'line.openEditor'
C-_ = 'line.clear'
M-k = 'line.clear'
C-k = 'line.kill'
C-w = 'line.clearWord'
M-C-h = 'line.clearWord'
'M-C-?' = 'line.clearWord'
M-d = 'line.killWord'
C-a = 'line.begin'
'M-[H' = 'line.begin'
C-e = 'line.end'
'M-[F' = 'line.end'
C-v = 'line.escape'
C-p = 'line.prevHist'
C-n = 'line.nextHist'
M-c = 'toggleCommandMode'
'M-[D' = 'line.backward'
'M-[B' = 'line.nextHist'
'M-[A' = 'line.prevHist'
'M-[C' = 'line.forward'

# When adding new built-in commands, make sure it has an upper-case letter.
# To users: when adding new custom commands, put it in your own namespace,
# e.g. [cmd.me].
#[cmd.me]

