{{ if (eq .chezmoi.os "linux") -}}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/gnupg/S.gpg-agent.ssh"
{{ else if (eq .chezmoi.os "darwin") -}}
export SSH_AUTH_SOCK="$HOME/.gnupg/S.gpg-agent.ssh"
{{ else if (eq .chezmoi.os "windows") -}}
export SSH_AUTH_SOCK=\\.\pipe\openssh-ssh-agent
{{ end -}}
