{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $name := "Your Name" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if (env "GIT_CONFIG_USER_NAME") -}}
{{-   $name = env "GIT_CONFIG_USER_NAME" -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "email@example.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if (env "GIT_CONFIG_USER_EMAIL") -}}
{{-   $email = env "GIT_CONFIG_USER_EMAIL" -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $signingkey := "" -}}
{{- if hasKey . "signingkey" -}}
{{-   $signingkey = .signingkey -}}
{{- else if $interactive -}}
{{-   $signingkey = promptString "signingkey" -}}
{{- end -}}

{{- $githubuser := "" -}}
{{- if hasKey . "githubuser" -}}
{{-   $githubuser = .githubuser -}}
{{- else if $interactive -}}
{{-   $githubuser = promptString "githubuser" -}}
{{- end -}}

{{- $launchpaduser := "" -}}
{{- if hasKey . "launchpaduser" -}}
{{-   $launchpaduser = .launchpaduser -}}
{{- else if $interactive -}}
{{-   $launchpaduser = promptString "launchpaduser" -}}
{{- end -}}

{{- $work_email := "" -}}
{{- if hasKey . "work_email" -}}
{{-   $work_email = .work_email -}}
{{- else if (env "GIT_CONFIG_USER_WORK_EMAIL") -}}
{{-   $work_email = env "GIT_CONFIG_USER_WORK_EMAIL" -}}
{{- else if $interactive -}}
{{-   $work_email = promptString "work email" $work_email -}}
{{- end -}}

{{- $work_signingkey := "" -}}
{{- if hasKey . "work_signingkey" -}}
{{-   $work_signingkey = .work_signingkey -}}
{{- else if $interactive -}}
{{-   $work_signingkey = promptString "work signingkey" -}}
{{- end -}}

{{- $work_srcdir := joinPath .chezmoi.homeDir "src" "work" -}}
{{- if hasKey . "work_srcdir" -}}
{{-   $work_srcdir = .work_srcdir -}}
{{- else if (env "GIT_CONFIG_USER_WORK_SRCDIR") -}}
{{-   $work_srcdir = env "GIT_CONFIG_USER_WORK_SRCDIR" -}}
{{- else if $interactive -}}
{{-   $work_srcdir = promptString "work src dir" $work_srcdir -}}
{{- end -}}

{{- $personal_email := "" -}}
{{- if hasKey . "personal_email" -}}
{{-   $personal_email = .personal_email -}}
{{- else if (env "GIT_CONFIG_USER_PERSONAL_EMAIL") -}}
{{-   $personal_email = env "GIT_CONFIG_USER_PERSONAL_EMAIL" -}}
{{- else if $interactive -}}
{{-   $personal_email = promptString "personal email" $personal_email -}}
{{- end -}}

{{- $personal_signingkey := "" -}}
{{- if hasKey . "personal_signingkey" -}}
{{-   $personal_signingkey = .personal_signingkey -}}
{{- else if $interactive -}}
{{-   $personal_signingkey = promptString "personal_signingkey" -}}
{{- end -}}

{{- $osId:= .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osId = printf "%s" .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osIdLike := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osIdLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- if eq $osId "debian" | and (stat (joinPath "/" "etc" "apt" "sources.list.d" "raspi.list")) -}}
{{-   $osId = "raspbian" -}}
{{-   $osIdLike = "raspbian-debian" -}}
{{- end -}}

{{- $xdg_session_type := "" -}}
{{- if hasKey . "xdg_session_type" -}}
{{-   $xdg_session_type = .xdg_session_type -}}
{{- else if (env "XDG_SESSION_TYPE") -}}
{{-   $xdg_session_type = env "XDG_SESSION_TYPE" -}}
{{- end -}}

{{- $xdg_config_home := "" -}}
{{- if hasKey . "xdg_config_home" -}}
{{-   $xdg_config_home = .xdg_config_home -}}
{{- else if (env "XDG_CONFIG_HOME") -}}
{{-   $xdg_config_home = env "XDG_CONFIG_HOME" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $xdg_config_home =  joinPath (env "LOCALAPPDATA") ".config" -}}
{{- end -}}

{{- $xdg_runtime_dir := "" -}}
{{- if hasKey . "xdg_runtime_dir" -}}
{{-   $xdg_runtime_dir = .xdg_runtime_dir -}}
{{- else if eq .chezmoi.os "linux" | and (env "XDG_RUNTIME_DIR") -}}
{{-   $xdg_runtime_dir = env "XDG_RUNTIME_DIR" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $xdg_runtime_dir = joinPath "/" "run" "user" .chezmoi.uid -}}
{{- else if eq .chezmoi.os "windows" | and (env "LOCALAPPDATA") -}}
{{-   $xdg_runtime_dir = joinPath (env "LOCALAPPDATA") "Temp" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $xdg_runtime_dir = joinPath .chezmoi.homeDir "AppData" "Local" "Temp" -}}
{{- else if eq .chezmoi.os "darwin" | and (lookPath "getconf") -}}
{{-   $xdg_runtime_dir = output "/bin/sh" "-c" "getconf DARWIN_USER_TEMP_DIR || echo -n ''" | or (env "TMPDIR") -}}
{{- end -}}

{{- $xdg_data_home := "" -}}
{{- if hasKey . "xdg_data_home" -}}
{{-   $xdg_data_home = .xdg_data_home -}}
{{- else if eq .chezmoi.os "linux" | and (env "XDG_DATA_HOME") -}}
{{-   $xdg_data_home = env "XDG_DATA_HOME" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $xdg_data_home = joinPath .chezmoi.homeDir ".local" "share" -}}
{{- else if eq .chezmoi.os "windows" | and (env "LOCALAPPDATA") -}}
{{-   $xdg_data_home = env "LOCALAPPDATA" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $xdg_data_home = joinPath .chezmoi.homeDir "AppData" "Local" -}}
{{- else if eq .chezmoi.os "darwin" | and (env "XDG_DATA_HOME") -}}
{{-   $xdg_data_home =  env "XDG_DATA_HOME" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $xdg_data_home = joinPath .chezmoi.homeDir "Library" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  # gitconfig vars
  name: "{{ $name }}"
  email: "{{ $email }}"
  signingkey: "{{ $signingkey }}"
  githubuser: "{{ $githubuser }}"
  launchpaduser: "{{ $launchpaduser }}"
{{- if $work_email }}
  work_email: "{{ $work_email }}"
{{- end }}
{{- if $work_signingkey }}
  work_signingkey: "{{ $work_signingkey }}"
{{- end }}
{{- if $work_srcdir }}
  work_srcdir: "{{ $work_srcdir }}"
{{- end }}
{{- if $personal_email }}
  personal_email: "{{ $personal_email }}"
{{- end }}
{{- if $personal_signingkey }}
  personal_signingkey: "{{ $personal_signingkey }}"
{{- end }}
  # platform-specific vars
  osId: {{ $osId | quote }}
  osFamily: {{ $osIdLike | quote }}
  xdg_session_type: "{{ $xdg_session_type }}"
  xdg_config_home: "{{ osClean (default (joinPath .chezmoi.homeDir ".config") $xdg_config_home) }}"
  xdg_runtime_dir: "{{ osClean (default (joinPath "/" "run" "user" .chezmoi.uid) $xdg_runtime_dir) }}"
  xdg_data_home: "{{ osClean (default (joinPath .chezmoi.homeDir ".local" "share") $xdg_data_home) }}"

