{{- if not (env "OFFLINE") }}
".cache/chezmoi/github-meta-api":
  type: "file"
  url: "https://api.github.com/meta"
  private: true

".config/oh-my-zsh/custom/plugins/zhooks":
  type: "git-repo"
  url: "https://github.com/agkozak/zhooks"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/oh-my-zsh/custom/plugins/zsh-sweep":
  type: "git-repo"
  url: "https://github.com/psprint/zsh-sweep"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/oh-my-zsh/custom/plugins/zsh-tmux-auto-title":
  type: "git-repo"
  url: "https://github.com/mbenford/zsh-tmux-auto-title"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{   if ne .osId "manjaro" -}}
{{- /* Manjaro can rely on manjaro-sway/oh-my-zsh */ -}}
".local/share/oh-my-zsh":
  type: "git-repo"
  url: "https://github.com/ohmyzsh/ohmyzsh"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{   end -}}
{{   if ne .osFamily "linux-arch" -}}
{{- /* Arch-based distros can use extra/zsh-theme-powerlevel10k */ -}}
".local/share/zsh-theme-powerlevel10k":
  type: "git-repo"
  url: "https://github.com/romkatv/powerlevel10k"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{   end -}}
{{   if eq .chezmoi.os "linux" -}}
".local/share/remotestash":
  type: "git-repo"
  url: "https://github.com/trinitronx/remotestash"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]
  clone:
    args: ["-b", "fix-all-the-things"]

{{   end -}}
{{   if lookPath "bat" | or (lookPath "batcat") -}}
".config/bat/themes/Dark-Dracula-Theme":
  type: "git-repo"
  url: "https://github.com/krman009/Dark-Dracula-Theme"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/bat/themes/Matcha-Dark":
  type: "git-repo"
  url: "https://github.com/trinitronx/Matcha-Dark-Theme"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/bat/themes/sublime-snazzy":
  type: "git-repo"
  url: "https://github.com/greggb/sublime-snazzy"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/bat/syntaxes/ASL-Syntax-Highlight":
  type: "git-repo"
  url: "https://github.com/Fansaly/ASL-Syntax-Highlight.git"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

".config/bat/syntaxes/Nftables":
  type: "git-repo"
  url: "https://github.com/HorlogeSkynet/Nftables.git"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{   end -}}
{{   if eq .chezmoi.hostname "saturn" | and ( eq .chezmoi.uid "1000" ) -}}
".local/share/duckdns-systemd":
  type: "git-repo"
  url: "https://github.com/orazioedoardo/duckdns-systemd"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{   end -}}
{{ end -}}
{{ if lookPath "mpv" | and ( lookPath "rofi" | or ( lookPath "wofi" )) -}}
".local/share/rofi-mpv-dvb":
  type: "git-repo"
  url: "https://github.com/trinitronx/rofi-mpv-dvb"
  refreshPeriod: "168h"
  pull:
    args: ["--ff-only"]

{{ end -}}
{{ if eq .chezmoi.arch "amd64" | and (or (eq .chezmoi.os "linux") | or (eq .chezmoi.os "darwin") | or (eq .chezmoi.os "windows")) -}}
".local/bin/tpnote":
  type: "archive-file"
  url: {{ gitHubLatestReleaseAssetURL "getreu/tp-note" (printf "tpnote-*-%s-*%s*" (replace "amd64" "x86_64" .chezmoi.arch) .chezmoi.os) | quote }}
  refreshPeriod: "168h"
  executable: true
  path: "tpnote{{ eq .chezmoi.os "windows" | ternary ".exe" "" }}"
{{ end -}}
{{ $fonts_dir := joinPath (trimPrefix .chezmoi.homeDir .xdg_data_home) "fonts" -}}
{{ if eq .chezmoi.os "darwin" | or (eq .chezmoi.os "linux" | and (not (glob "/usr/share/fonts/TTF/MesloLGS-NF-*.ttf"))) -}}
# Darwin OR (Linux AND non-existent fonts path): {{ glob "/usr/share/fonts/TTF/MesloLGS-NF-*.ttf" }}
{{ $nerdFontsChecksumURL := gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "SHA-256.txt" -}}
{{ $mesloChecksumCommand := printf "curl -Ls -o - '%s' | grep -i Meslo.tar.xz | awk '{ print $1 }'" $nerdFontsChecksumURL -}}
{{   if eq .chezmoi.os "darwin" -}}
# Darwin
{{     $fonts_dir = joinPath (trimPrefix .chezmoi.homeDir .xdg_data_home | trimPrefix .chezmoi.pathSeparator) "Fonts" -}}
{{   else if eq .chezmoi.os "linux" -}}
# Linux
{{     $fonts_dir = joinPath (trimPrefix .chezmoi.homeDir .xdg_data_home | trimPrefix .chezmoi.pathSeparator) "fonts" -}}
{{   else if eq .chezmoi.os "windows" -}}
# Windows
{{     $fonts_dir = joinPath (trimPrefix .chezmoi.homeDir .xdg_data_home | trimPrefix .chezmoi.pathSeparator) "Microsoft" "Windows" "Fonts" -}}
{{   end -}}
"{{ $fonts_dir }}":
  type: "archive"
  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "Meslo.tar.xz" | quote }}
  refreshPeriod: "168h"
  exclude: [ "LICENSE.txt", "README.md" ]
  include: [ "*.ttf" ]
  exact: false
  private: true
  readonly: true
  checksum.sha256: {{ (output "/bin/sh" "-c" $mesloChecksumCommand) | trim }}
{{ end -}}
