[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	pager = less -FXRS -x2
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lol = log --graph --decorate --oneline --abbrev-commit
	lola = log --graph --decorate --oneline --all --abbrev-commit
	logg = log --graph --decorate --all
	blog = log origin/master... --left-right
	credit = blame --color-lines -w -C -C -C
	ds = diff --staged
	dw = diff --word-diff
	db = !git-diff-bat.sh
	ls = ls-files
	l  = log --pretty=oneline --abbrev-commit
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
	lgs = log --graph --pretty=format:'%C(auto)%h - %Cgreen(sig: %G?)%Creset -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n%>|(10)%C(green)\\%Creset%n%>|(11)%C(green)gpg: Key ID %GK%Creset%n%C(green)%>|(250)%GG%Creset' --abbrev-commit
	oldest-ancestor = !bash -c \"diff -u <(git rev-list --first-parent \\\"${1:-master}\\\") <(git rev-list --first-parent \\\"${2:-HEAD}\\\") | sed -ne 's/^ //p' | head -1\"
	unstage-all = reset HEAD --
	changes = diff --name-status -r
	svn-switch = config svn-remote.svn.url
	sw = config svn-remote.svn.url

[apply]
	whitespace = nowarn
[branch]
	autosetupmerge = true
	sort = -committerdate
[rebase]
	autosquash = true
{{- if eq .chezmoi.os "darwin" }}
# MacOS Specific version
[diff]
	renames = true
	tool = vimdiff
	guitool = meld
[merge]
	tool = vimdiff
	guitool = meld
{{ else }}
[diff]
	renames = true
	tool = vimdiff
	guitool = void
[merge]
	tool = vimdiff
	guitool = void
{{ end -}}
[mergetool "meld"]
	cmd = meld $BASE $LOCAL $REMOTE --output $MERGED
[mergetool "vscode"]
	cmd = code --reuse-window --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
	cmd = code --reuse-window --wait --diff $BASE $LOCAL $REMOTE
[mergetool "void"]
	cmd = void --reuse-window --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "void"]
	cmd = void --reuse-window --wait --diff $BASE $LOCAL $REMOTE
[push]
	default = simple
	autoSetupRemote = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[bash-it]
	hide-status = 1
{{- if ne (index .chezmoi.args 1) "init" }}
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git+ssh://{{ .launchpaduser }}@git.launchpad.net/"]
	insteadof = lp:
{{- end }}
[pull]
	rebase = false
[init]
	defaultBranch = main
[safe]
	directory = /opt/flutter
	directory = /usr/share/oh-my-zsh
[interactive]
	diffFilter = delta --color-only --line-numbers
[delta]
	features = Matcha-Dark-Theme zebra-dark
[delta "Matcha-Dark-Theme"]
	syntax-theme = Matcha-Dark
	minus-style = syntax "#641f39"
	minus-emph-style = syntax bold "#902c29"
	plus-emph-style = "#9fca56" bold "#295738"
	plus-style = syntax "#123730"
	keep-plus-minus-markers = true
[maintenance]
	repo = {{ .chezmoi.homeDir }}/.local/share/chezmoi
[fetch]
	writeCommitGraph = true
[hub]
	protocol = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
[notes]
	rewriteRef = refs/notes/commits
	displayRef = refs/notes/*
