# Copyright (C) © 🄯  2023-2024 James Cuzella
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option) any
# later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <https://www.gnu.org/licenses/>.

# Convert a unix timestamp to a readable format (like date12h in .bash_aliases)
dateFromEpoch()
{
    #date +'%a %b %d %I:%M:%S %p %Z %Y' -d "@${1}"
    date -r "${1}"
}

instance_info()
{
    local profile_cmd="";
    if ( echo $1 | egrep -q -- '^i-' ); then
        local instances=$*;
    else
        local profile_cmd="--profile=$1";
        shift 1;
        local instances=$*;
    fi;
    aws ${profile_cmd} --output=text ec2 describe-instances --instance-ids ${instances} | awk '$1~/^INSTANCES|TAGS/ {
        if ($1~/INSTANCES/) print "\nInstanceId:", $8;
        else if ($1 ~/TAGS/) print $2":", $3;
    }'
}

dockerterm()
{
  CONTAINER=$1
  docker exec -it $CONTAINER bash
}

#
# ex - archive extractor
# usage: ex <file>
ex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1     ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

{{ if eq .chezmoi.os "darwin" -}}
sha256()
{
  shasum -a 256 "$1" | awk '{ print $1 }' | pbcopy
}

pidport() {
  lsof -n -i4TCP:$1 | grep LISTEN
}

{{ end -}}
{{ if eq .chezmoi.hostname "lyra" -}}
fuck-it()
{
  for h in ComputerName LocalHostName HostName ; do sudo scutil --set $h lyra; done
}

{{ end -}}
