# Copyright (C) © 🄯  2023-2024 James Cuzella
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option) any
# later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <https://www.gnu.org/licenses/>.

alias rb=rbenv
{{ if eq .chezmoi.os "darwin" -}}
alias md5sum='md5 -r'
alias brewski='brew update && brew upgrade && brew cleanup && brew cask cleanup; brew doctor'

{{ end -}}
{{ if eq .osFamily "linux-debian" -}}
alias fd='fdfind'
alias bat='batcat'
{{ end -}}
