#!/bin/bash

# chrome-unstable-gpu.desktop  hash: {{ include "private_dot_local/private_share/private_applications/chrome-unstable-gpu.desktop" | sha256sum }}

update-desktop-database --verbose "${XDG_DATA_HOME:-$HOME/.local/share}/applications"
