# It is now managed by chezmoi
# This file was originally written by xdg-user-dirs-update
# If you want to change or add directories, edit the line you're
# interested in inside the chezmoi template.
# All local changes will NOT be retained on the next run.
# Format is XDG_xxx_DIR="$HOME/yyy", where yyy is a shell-escaped
# homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
# absolute path. No other format is supported.
#
XDG_SCREENSHOTS_DIR="{{ if eq .chezmoi.os "darwin" }}$HOME/Desktop{{ else if eq .chezmoi.os "linux" }}$HOME/Screenshots{{ end }}"
XDG_DESKTOP_DIR="$HOME/Desktop"
XDG_DOWNLOAD_DIR="$HOME/Downloads"
XDG_TEMPLATES_DIR="$HOME/Templates"
XDG_PUBLICSHARE_DIR="$HOME/Public"
XDG_DOCUMENTS_DIR="$HOME/Documents"
XDG_MUSIC_DIR="$HOME/Music"
XDG_PICTURES_DIR="$HOME/Pictures"
XDG_VIDEOS_DIR="{{ if eq .chezmoi.os "darwin" }}$HOME/Movies{{ else if eq .chezmoi.os "linux" }}$HOME/Videos{{ end }}"
